<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Huge Puppy wuz here" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

  </head>
  <body class="bg-[#fefbea] p-7">
    <main>
      <div class="">
    
      {{ content | safe }}
    
      <footer class="fixed bottom-0 w-full pb-7">
        <div class="w-3/4 text-xl flex justify-around">
          <a class="hover:underline" href="/">Home</a>
          <span class="divider">|</span>
          <a  class="hover:underline" href="/open">Open</a>
          <span class="divider">|</span>
          <a  class="hover:underline" href="/projects">Projects</a>
          <span class="divider">|</span>
          <a class="hover:underline" href="https://github.com/Huge-Puppy">Github</a>
          <span class="divider">|</span>
          <a class="hover:underline" href="https://twitter.com/Huge_Puppy">Twitter</a>
          <span class="divider">|</span>
          <a class="hover:underline" href="https://www.strava.com/athletes/31939039">Strava</a>
        </div>
      </footer>
    
      </div>
    </main>
   
  </body>
</html>
