<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="HugePuppy wuz here" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <title>HugePuppy Dev</title>

  </head>
  <body class="bg-[#fefbea] h-full">
    <div class="min-h-full px-2 lg:px-7 pt-7">
    <main class="overflow-auto pb-[100px]">
      {{ content | safe }}
    </main>
    </div>
    <footer class="-mt-[100px] relative w-full lg:pl-7 pb-0 pt-0 h-[100px] clear-both flex items-center">
      <div class="w-full lg:w-3/4 text-xl flex justify-around ">
        <a class="hover:underline font-bold" href="/">Home</a>
        <span class="divider">|</span>
        <a  class="hover:underline font-bold" href="/open">Open</a>
        <span class="divider">|</span>
        <a  class="hover:underline font-bold" href="/projects">Projects</a>
        <span class="divider">|</span>
          <a class="flex group " href="https://github.com/Huge-Puppy">
          <img alt="github logo" class="w-8" src="{{ '/assets/images/links/github.webp' | url }}">
          <div class="hidden pl-2 md:block group-hover:underline">
          Github
          </div>
          </a>
        <span class="divider">|</span>
          <a class="group flex" href="https://twitter.com/Huge_Puppy">
          <img alt="twitter logo" class="w-8" src="{{ '/assets/images/links/twitter.webp' | url }}">
          <div class="hidden md:block pl-2 group-hover:underline">Twitter</div>
        </a>
        <span class="divider">|</span>
          <a class="flex group" href="https://www.strava.com/athletes/31939039">
          <img alt="strava logo" class="w-8" src="{{ '/assets/images/links/strava.webp' | url }}">
          <div class="hidden md:block pl-2 group-hover:underline">Strava</div>
        </a>
      </div>
    </footer>
  </body>
</html>
