<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Huge Puppy wuz here" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
  </head>
  <body>
  <main>
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/open">Open</a>
          <span class="divider">|</span>
          <a href="https://github.com/Huge-Puppy">Github</a>
          <span class="divider">|</span>
          <a href="https://twitter.com/Huge_Puppy">Twitter</a>
          <span class="divider">|</span>
          <a href="https://www.strava.com/athletes/31939039">Strava</a>
        </div>
      </footer>
    
  </main>
   
  </body>
</html>
