---
layout: layouts/base.njk
---

<div class="max-w-4xl mx-auto">
    <div class="text-right">
      <h1 class="text-7xl font-mono">{{title}}</h1>
      <h3 class="text-2xl italic font-sans">{{subtitle}}</h3>
    </div>
    <div class="flex justify-between">
      <div class="mx-auto">
        {{ content | safe }}
      </div>
    <ul class="text-right pt-10 indent-0 ml-0">
      {%- for project in collections.projects -%}
        <li class="list-none">
	<a class="items-center origin-right group duration-500 hover:scale-[1.5] inline-flex " href='{{ project.url }}'>
	  <img class="object-cover w-24 p-2" src="{{ '/assets/images/'+project.data.title+'/logo.png' | url }}">
	  <div class="pl-7">
	    <div class="font-mono text-3xl inline-block">{{ project.data.title }}</div>
	    <div class="z-1 rounded-md border-4 h-8 w-32 border-black">
	      <div class="
	      {%- if project.data.progress < 1 -%} {{'animate-pulse '}}
	      {%- else -%} {{'w-full '}}
	      {%- endif -%} 
	      {%- if project.data.progress >0.7 -%} {{'w-3/4 '}}
	      {%- elif project.data.progress >0.4 -%} {{'w-1/2 '}}
	      {%- elif project.data.progress >0.2 -%} {{'w-1/4 '}}
	      {%- else -%} {{'w-[1rem] '}}
	      {%- endif -%} 
	      relative -z-10 rounded-sm h-full bg-green-500"></div>
	    </div>
	  </div>
	</a>
	</li>
      {%- endfor -%}
    </ul>
    </div>
  </div>
