---
layout: layouts/base.njk
---

<div class="max-w-4xl mx-auto">
  <div class="text-left">
    <div class="relative h-16">
      <div class="flex items-center absolute top-2 left-0 text-2xl font-mono text-black-100">{{title}}</h1>

      <span class="divider px-4"></span>
      <a class="flex group " href="https://github.com/Huge-Puppy">
        <img alt="github logo" class="w-5 h-5" src="{{ '/assets/images/links/github.webp' | url }}">
      </a>
      <span class="px-4 divider"></span>
      <a class="group flex" href="https://twitter.com/Huge_Puppy">
        <img alt="x logo" class="w-4 h-4" src="{{ '/assets/images/links/x.webp' | url }}">
      </a>
      <span class="divider px-4"></span>
      <a class="flex group" href="https://www.strava.com/athletes/31939039">
        <img alt="strava logo" class="w-4 h-4" src="{{ '/assets/images/links/strava.webp' | url }}">
      </a>
      <span class="divider px-4"></span>
      <a class="flex group" href="https://jaredcl.substack.com/?r=2d2l05&utm_campaign=pub-share-checklist">
        <img alt="substack logo" class="w-4 h-4" src="{{ '/assets/images/links/substack.webp' | url }}">
      </a>
      </div>
  </div>
  <div class="h-16"></div>
  <div class="text-xl">Projects</div>
  <div class="flex flex-wrap pt-4 max-w-4xl justify-between">
    <ul class="text-left w-full lg:w-1/2 indent-0 ml-0">
      {%- for project in collections.projects -%}

        <li class="list-none my-5">
          <div class="relative inline-block ">
            <a class="items-center inline-flex flex-row w-full justify-center sm:justify-end" href='{{ project.data.link }}'>
              <img alt="{{project.data.title}} logo" class="sm:mr-auto lg:mx-auto sm:ml-7 object-contain h-6 w-6 " src="{{ '/assets/images/'+project.data.title+'/logo.webp' | url }}">
              <div class="pl-2 flex flex-col items-center sm:items-end ">
                <div class="font-mono text-base inline-block">{{ project.data.title }}</div>
              </div>
            </a>
          </li>

        {%- endfor -%}
      </ul>
    </div>
  </div>