---
layout: layouts/base.njk
---
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src='/scripts/chart_tools.js'></script>

<div class="max-w-2xl content-center mx-auto">
      <div class="relative h-32">
        <a href="/">
          <img class="absolute left-0 top-2 w-16" src={{'/assets/images/home.png' | url}}>
        </a>
        <h1 class="absolute top-4 right-0 opacity-70 text-7xl font-mono text-orange-500">{{title}}</h1>
        <h1 class="absolute top-3 right-1 opacity-70 text-7xl font-mono text-red-500">{{title}}</h1>
        <h1 class="absolute top-2 right-2 opacity-70 text-7xl font-mono text-purple-500">{{title}}</h1>
        <h1 class="absolute top-1 right-3 opacity-70 text-7xl font-mono text-blue-500">{{title}}</h1>
        <h1 class="absolute top-0 right-4 opacity-70 text-7xl font-mono text-black-100">{{title}}</h1>
	<h3 class="absolute top-16 right-0 text-2xl italic font-sans ">{{subtitle}}</h3>
      </div>

      <div class="pb-7">
      {{ content | safe }}
      </div>
      <h3>2023 Goals</h3>
      <ul class="ml-0 pt-3 indent-0">
        {%- for goal in collections.goals -%}
        <li class="list-none"> 	
          <a class="font-bold" href='{{ goal.url }}'>{{ goal.data.title }}</a>
	  <div class="z-1 rounded-md border-4 h-8 w-[100%] border-black">
	    <div class="
	      {%- if goal.data.progress < 1 -%} {{'animate-pulse '}}
	      {%- else -%} {{'w-full '}}
	      {%- endif -%} 
	      {%- if goal.data.progress >0.7 -%} {{'w-3/4 '}}
	      {%- elif goal.data.progress >0.4 -%} {{'w-1/2 '}}
	      {%- elif goal.data.progress >0.2 -%} {{'w-1/4 '}}
	      {%- else -%} {{'w-[0.3rem] '}}
	      {%- endif -%} 
              relative -z-10 rounded-sm h-full bg-green-500">
            </div>
	  </div>
  	  <p> {{ goal.description }} </p>
  	</li>
        {%- endfor -%}
      </ul>
      {%- for goal in collections.goals -%}
      <h3 class="pt-10">{{goal.data.title}}</h3>
        {{goal.templateContent | safe}}
      {%- endfor -%}
</div>
