---
layout: layouts/base.njk
---


<div class="max-w-2xl  content-center mx-auto">
  <div class="banner">
    <img class="w-full" src="{{'/assets/images/' + title + '/banner.png' | url }}">
  </div>
  <div class="pt-16 logo flex items-center">
    <img class="w-20" src="{{'/assets/images/' + title + '/logo.png' | url }}">
    <h1 class="pl-7 text-4xl">{{title}}</h1>
  </div>
  {{ content | safe }}
</div>

