---
layout: layouts/base.njk
---

<h1>{{title}}</h1>

<div class="banner">
<img src="/public/images/{{title}}/logo.png"></img>
</div>
<div class="logo">
<img src="/public/images/{{title}}/banner.png"></img>
{{ content | safe }}
</div>

