---
layout: layouts/base.njk
---

<div class="max-w-2xl content-center mx-auto">
  <div class="wrapper home">
    <div class="content">
      <div class="relative h-32">
        <h1 class="absolute top-4 right-0 opacity-70 text-7xl font-mono text-orange-500">{{title}}</h1>
        <h1 class="absolute top-3 right-1 opacity-70 text-7xl font-mono text-red-500">{{title}}</h1>
        <h1 class="absolute top-2 right-2 opacity-70 text-7xl font-mono text-purple-500">{{title}}</h1>
        <h1 class="absolute top-1 right-3 opacity-70 text-7xl font-mono text-blue-500">{{title}}</h1>
        <h1 class="absolute top-0 right-4 opacity-70 text-7xl font-mono text-black-100">{{title}}</h1>
	<h3 class="absolute top-16 right-0 text-2xl italic font-sans ">{{content | safe}}</h3>
      </div>

      <ul class="indent-0 ml-0">
      {%- for project in collections.projects -%}
        <li class="list-none pt-10 indent-0">
	<a class="flex items-center" href='{{ project.url }}'>
  	  <div class="items-center justify-start" >
	  <img class="object-cover w-24" src="{{ '/assets/images/'+project.data.title+'/logo.png' | url }}">
	    <div class="z-1 rounded-md border-4 h-8 w-32 border-black">
	      <div class="

  	      {%- if project.data.health < 1 -%} {{'animate-pulse '}}
              {%- elif project.data.health >= 1 -%} {{'w-full '}}
  	      {%- endif -%} 
  	      {%- if project.data.health >0.7 -%} {{'w-3/4 bg-green-500 '}}
  	      {%- elif project.data.health >0.6 -%} {{'w-[60%] bg-green-500 '}}
  	      {%- elif project.data.health >0.4 -%} {{'w-1/2 bg-yellow-500 '}}
  	      {%- elif project.data.health >0.3 -%} {{'w-1/4 bg-yellow-500 '}}
              {%- elif project.data.health > 0.0 -%} {{'w-[0.5rem] bg-red-500 '}}
              {%- else  -%} {{'w-0 bg-red-500 '}}
  	      {%- endif -%} 
	      relative -z-10 rounded-sm h-full bg-green-500"></div>
	      </div>
	  </div>
	  <div class="pl-7">
	    <div class="font-mono text-3xl">{{ project.data.title }}</div>
	    <div class="">{{ project.data.description }}</div>
	  </div>
	</a>
	</li>
      {%- endfor -%}

      </ul>
    </div>
  </div>
</div>
